.App {
  text-align: center;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}
html *{
  font-family: Montserrat;
}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Dashboard & Login & Navigation Side/Top */

.ui.top.fixed.menu
{
  display: inline-block;
  height: 8%;
  background-color: #454F53;
}
.accountBlock{
  margin-top: 0.5%;
  margin-right: 5%;
  vertical-align: middle;
  float: right;
}
.accountName{
  margin-bottom: 0px;
}
.accountName{
  font-size: 20px;
}
.accountType{
  font-size:12px;
  text-align: right;
}
.accountInfo{
  color: white;
  display: inline-block;
  vertical-align: top;
}
.accountImage{
  margin-top: 3px;
  margin-left: 30px;
  display: inline-block;
  vertical-align: top;
}
.inverted.grey.user.contact.big.link.icon{
  vertical-align: top;
}
.ui.left.vertical.sidebar.menu.visible{
  background-color: #454F53;
  width: 8%;
  height: 100%;
}
.LogoLoginHeader{
    margin:220px 0px 20px 0px;
}
.LogoRegisterHeader{
  margin:100px 0px 20px 0px;
}
.mainLogo{
  height: 7.5%;
}
.actionIcons{
  text-align: center;
  display: inline-block;
  padding-top: 550px;
  padding-left: 33%;
}
.ui.centered.mini.image{
  padding-top: 15px;
  height: 50px;
  width: 50px;
}
.inverted.grey.user.contact.big.link.icon{
  margin-top: 20px;
}
.LoginMainBackground{
    background: #D2ECF9;
    height:768px;
    padding-top: 20%;  
}
.Content{
  margin-left: 12%;
  margin-top: 7%;
}
.dashboardInstructions{
  background-color: #D2ECF9;
  padding: 25px 35px;
  border-radius: 15px;
  margin-top:3%;
  width: 96%;
}
.dashboardTable{
  width: 96%;
  margin-top: 5%;
}
.ui.table tr td { 
  border-left: 0px !important;
  border-right: 0px !important; 
  border-bottom: 0px !important;
}
.ui.table tr th { 
  border-left: 0px !important; 
  border-right: 0px !important; 
  border-bottom: 0px !important;
}
.ui.table { 
  border: 0px !important; 
}
.ui.table tr td { 
  border-top: 0px !important; 
}
.spanBold{
  font-weight: bold;
}
/* COURSE */

.courseBar{
  width: 96%;
  margin-top: 70px;
}

/* FORM  */
.objectiveForm{
  margin-top: 3%;
  width: 96%;
}
.activityForm{
  margin-top: 3%;
  width:96%;
}
.objectiveFormLeft{
  display: inline-block;
  vertical-align: top;
  margin-right: 7%;
  width: 40%;
}
.objectiveFormRight{
  display: inline-block;
  vertical-align: top;
  margin-left: 7%;
  width: 40%;
}
.activityFormLeft{
  display: inline-block;
  vertical-align: top;
  margin-right: 1%;
  width: 40%;
}
.activityFormRight{
  display: inline-block;
  vertical-align: top;
  margin-left: 1%;
  width: 40%;
}
.formLabel{
  font-size: 20px;
}







